[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = https://github.com/ivmai/bdwgc
[submodule "deps/DarwinPthreadBarrier"]
	path = deps/DarwinPthreadBarrier
	url = https://github.com/ademakov/DarwinPthreadBarrier
[submodule "deps/libcoro"]
	path = deps/libcoro
	url = https://github.com/semistrict/libcoro
